footer.footer
	.mycontainer
		.footer-col
			.footer-col__logo
				img(src="assets/images/logo.svg" alt="" style="margin-left:-10px")
			.footer-col__text В течение 8 лет компания планомерно увеличивает область ключевых компетенций, что позволяет ей грамотно выстраивать рабочие процессы.
			.footer-col__last © RA-Studio 2020.&nbsp;</br>Веб-студия полного цикла.
		.footer-col
			.footer-col__title Центральный офис
			.footer-col__text Инструментальная, д. 3, БЦ “Кантемировский”, лит. Б, офис 9
			.footer-col__title Социальные сети
			.footer-col-row
				a(href="https://www.instagram.com/rastudio_agency/?hl=ru") Instagram
				a(href="https://vk.com/ra_studio") VK
				a(href="https://www.behance.net/rastudio_be") Behance
			a.footer-col__last.privacy__btn(href="#") Политика конфиденциальности
		.footer-col
			.footer-col__title Контакты
			a(href="tel:88126112333") 8 (812) 611-2-333
			a(href="mailto:info@ra-studio.ru") info@ra-studio.ru
			a.footer-col__last.popup__btn(href="#") Написать нам