header.header
	.mycontainer
		.header__logo
			img(src="assets/images/logo.svg" alt="" style="margin-left:-5px")
		nav.header-menu
			a.header-menu__href(href="#") Виды услуг
			a.header-menu__href(href="#") Что это такое
			a.header-menu__href(href="#") Для кого
			a.header-menu__href(href="#") Решаемые задачи
		.header-info
			a.header-info__tel(href="+78126112333") +7 (812) 611-2-333
			a.header-info__btn(href="#") Заказать звонок