extends ../template

block variables
	- var title = 'Эффективно управляем репутацией Вашего бренда'

block content
	.main
		section.main-banner
			.mycontainer
				.main-banner-col
					.main-banner-col__title Эффективно управляем репутацией Вашего бренда
					.main-banner-col__text Предоставляем полный комплекс услуг по построению репутации компании, продукта или бренда в интернете.
					.main-banner-col-bot
						a.main-banner-col-bot__btn(href="#") Улучшить репутацию
						a.main-banner-col-bot__text(href="#") Как это работает?
				.main-banner-col
					img(src="assets/images/banner.svg", alt="")
		section.main-made
			.mycontainer
				.title Из чего состоит комплексная</br> работа над репутацией  
				.main-made-items
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item1.svg", alt="")
						.main-made-items-item__title Работа с негативом
						.main-made-items-item__text Отслеживание и удаление информации, которая негативно может повлиять на имидж. Если удаление не является возможным - проводим ряд мероприятий, позволяющих сместить акцент с негатива.
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item2.svg", alt="")
						.main-made-items-item__title Вывод в поисковые подсказки
						.main-made-items-item__text Маркетинговые мероприятия, направленные на повышение интереса к вашему бренду и, как следствие, вывод его в поисковые подсказки.
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item3.svg", alt="")
						.main-made-items-item__title Нативная реклама
						.main-made-items-item__text Правильная подача рекламы, которая не вызовет негатив по отношению к вашему бренду у пользователя.
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item4.svg", alt="")
						.main-made-items-item__title Создания имиджа</br> у целевой аудитории
						.main-made-items-item__text Комплекс работ, направленных на продвижение необходимого образа и отношения к вашему бренду.
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item5.svg", alt="")
						.main-made-items-item__title SERM
						.main-made-items-item__text Формирование положительной  поисковой выдачи по брендовых запросам с целью увеличения лояльности у потенциальных клиентов
					.main-made-items-item
						.main-made-items-item__img
							img(src="assets/images/screen2-item6.svg", alt="")
						.main-made-items-item__title Что такое управление</br> репутацией
						a.main-made-items-item__btn(href="#") Узнать подробнее
		section.main-control
			.mycontainer
				.title Управление репутацией
				.main-control-row
					.main-control-row-col
						.main-control-row-col__text — Это набор действий, благодаря которым бренд получает положительную репутацию у онлайн-аудитории. 
						.main-control-row-col__text Если сказать проще - мы работаем над тем, чтобы ваш потенциальный клиент видел ваш бренд именно так, как того хотите вы.
						.main-control-row-col__text Мы имеем достаточно опыта и владеем инструментами, с помощью которых можем держать под полным контролем всю информацию о вашем бренде - как позитивную, так и негативную.
						a.main-control-row-col__btn(href="#") О нашем опыте
					.main-control-row-col
						img(src="assets/images/screen3-banner.svg", alt="")
		section.main-about
			.mycontainer
				.title Коротко о нас
				.main-about-items
					.main-about-items-col
						.main-about-items-col__title 7
						.main-about-items-col__text Крупнейших городских</br>застройщиков работают с нами
					.main-about-items-col
						.main-about-items-col__title > 40
						.main-about-items-col__text Клиентов работает с нами
					.main-about-items-col
						.main-about-items-col__title 7
						.main-about-items-col__text Лет опыт улучшения</br>репутации компании
		section.main-business
			.mycontainer
				.title Управление репутацией</br> в любой сфере бизнеса
				.main-business__text Всё больше компаний из разных отраслей</br> используют аналитику уже сейчас.
				.main-business-items
					a.main-business-items__link(href="#") E-commerce
					a.main-business-items__link(href="#") Фармацевтика
					a.main-business-items__link(href="#") Страхование
					a.main-business-items__link(href="#") Туризм
					a.main-business-items__link(href="#") Банки
					a.main-business-items__link(href="#") Телекоммуникация
					a.main-business-items__link(href="#") Недвижимость
					a.main-business-items__link(href="#") Ритейл
					a.main-business-items__link(href="#") ВИСы и ГИСы
					a.main-business-items__link(href="#") Указать свою
					img(src="assets/images/screen5-arr.png", alt="")
		section.main-cases
			.mycontainer
				.title Кейсы
				.main-cases-items
					a.main-cases-items-item(href="#")
						.main-cases-items-item-info
							.main-cases-items-item-info__title Проблемный городской застройщик
							.main-cases-items-item-info__time Срок работы: 10 месяцев
						.main-cases-items-item__text Рост продаж с 0 до 100 млн рублей в месяц
						<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.6777 6.00006C24.6777 5.44778 24.23 5.00006 23.6777 5.00006L14.6777 5.00007C14.1254 5.00007 13.6777 5.44778 13.6777 6.00007C13.6777 6.55235 14.1254 7.00006 14.6777 7.00007L22.6777 7.00006L22.6777 15.0001C22.6777 15.5523 23.1254 16.0001 23.6777 16.0001C24.23 16.0001 24.6777 15.5523 24.6777 15.0001L24.6777 6.00006ZM6.70711 24.3848L24.3848 6.70717L22.9706 5.29296L5.29289 22.9706L6.70711 24.3848Z" fill="#6F4FC9"/>
						</svg>
					a.main-cases-items-item(href="#")
						.main-cases-items-item-info
							.main-cases-items-item-info__title Загородный застройщик
							.main-cases-items-item-info__time Срок работы: 1 год
						.main-cases-items-item__text Вывели новичка рынка до второго по объёму продаж загородного девелопера в регионе с долей рынка 10,2%
						<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.6777 6.00006C24.6777 5.44778 24.23 5.00006 23.6777 5.00006L14.6777 5.00007C14.1254 5.00007 13.6777 5.44778 13.6777 6.00007C13.6777 6.55235 14.1254 7.00006 14.6777 7.00007L22.6777 7.00006L22.6777 15.0001C22.6777 15.5523 23.1254 16.0001 23.6777 16.0001C24.23 16.0001 24.6777 15.5523 24.6777 15.0001L24.6777 6.00006ZM6.70711 24.3848L24.3848 6.70717L22.9706 5.29296L5.29289 22.9706L6.70711 24.3848Z" fill="#6F4FC9"/>
						</svg>
					a.main-cases-items-item(href="#")
						.main-cases-items-item-info
							.main-cases-items-item-info__title Стоматологическая клиника
							.main-cases-items-item-info__time Срок работы: 6 месяцев
						.main-cases-items-item__text Улучшение лояльности потенциальных пациентов с увеличением повторных обращений на 52%
						<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.6777 6.00006C24.6777 5.44778 24.23 5.00006 23.6777 5.00006L14.6777 5.00007C14.1254 5.00007 13.6777 5.44778 13.6777 6.00007C13.6777 6.55235 14.1254 7.00006 14.6777 7.00007L22.6777 7.00006L22.6777 15.0001C22.6777 15.5523 23.1254 16.0001 23.6777 16.0001C24.23 16.0001 24.6777 15.5523 24.6777 15.0001L24.6777 6.00006ZM6.70711 24.3848L24.3848 6.70717L22.9706 5.29296L5.29289 22.9706L6.70711 24.3848Z" fill="#6F4FC9"/>
						</svg>
					a.main-cases-items-item(href="#")
						.main-cases-items-item-info
							.main-cases-items-item-info__title Проблемный городской застройщик
							.main-cases-items-item-info__time Срок работы: 10 месяцев
						.main-cases-items-item__text Рост продаж с 0 до 100 млн рублей в месяц
						<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.6777 6.00006C24.6777 5.44778 24.23 5.00006 23.6777 5.00006L14.6777 5.00007C14.1254 5.00007 13.6777 5.44778 13.6777 6.00007C13.6777 6.55235 14.1254 7.00006 14.6777 7.00007L22.6777 7.00006L22.6777 15.0001C22.6777 15.5523 23.1254 16.0001 23.6777 16.0001C24.23 16.0001 24.6777 15.5523 24.6777 15.0001L24.6777 6.00006ZM6.70711 24.3848L24.3848 6.70717L22.9706 5.29296L5.29289 22.9706L6.70711 24.3848Z" fill="#6F4FC9"/>
						</svg>
				.main-cases__more Показать еще
		section.main-made.actual
			.mycontainer
				.title Для кого это актуально
				.main-made-items
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Молодому бренду
						.main-made-items-item__text Важно не отпускать процесс формирования отношения аудитории к бренду на самотек и с самого начала создавать правильный имидж, который закрепится и будет работать на вас в дальнейшем.
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Компаниям, которые расширяют</br> сеть в регионы
						.main-made-items-item__text Нужно работать на опережение и активно работать над распространением информации о бренде до официального открытия филиала.
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Компаниям, которые находятся в</br> поисках персонала
						.main-made-items-item__text Серьезные кандидаты всегда проверяют информацию о компании, в которую собираются устроится. Не стоит допускать, чтобы качественные кадры видели негатив о вашей компании и игнорировали вакансии.
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Малому и среднему бизнесу
						.main-made-items-item__text Каждый клиент существенно влияет на прибыль и недопустимо, чтобы этот клиент ушел, увидев в сети информацию, которая представляет компанию в неблагоприятном свете.
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Крупным компаниям</br> и известным брендам
						.main-made-items-item__text Для контроля над репутацией и для своевременного реагирования на происки конкурентов.
					.main-made-items-item
						<svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10L10.1404 18L26.4211 2" stroke="#542EFF" stroke-width="3"/>
						</svg>
						.main-made-items-item__title Публичным личностям
						.main-made-items-item__text Публичным личностям, которые не заинтересованы в черном пиаре и упоминаниях в негативном свете.
		section.main-control.tasks
			.mycontainer
				.title Задачи, которые мы можем решить
				.main-control-row
					.main-control-row-col
						.main-control-row-col__text Уникальное решение помогает управлять репутацией в сети: создавать положительный имидж бренда и получать позитивные отзывы потребителей в выдаче поисковых систем.
						.main-control-row-col-list
						a.main-control-row-col__btn(href="#") Получить аудит репутации
					.main-control-row-col
						img(src="assets/images/screen8-banner.svg", alt="")


					